*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: url("https://i.redd.it/r63hgjcavmib1.png");
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

a:hover{
    text-decoration: overline; 
}

a:hover{
    color: aqua;
}

/* HEADER */

header{
    position: relative;
    padding: 10px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1500px;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .headlogo a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: non;
}


.navbar .navlinks{
    display: flex;
    gap: 40px;
    font-size: 10px;
}

.navbar .toggle_btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.navlinks{
    transition: scale .2 ease;
}

.navHOME:hover{
    scale: 1.1;
}

.navLIVE:hover{
    scale: 1.1;
}

.navMISSIONS:hover{
    scale: 1.1;
}

.navUPCOMING:hover{
    scale: 1.1;
}


.navlinks:active{
     scale: 0.2;
}

.UserLogin{
    background-color: rgba(128, 128, 128, 0.075);
    color: rgb(251, 252, 255);
    padding: 8px 9px;
    border: solid 2px rgb(224, 224, 224);
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px 10px;
    transition: scale 0. ease;
}

.UserLogin:hover{
    background-color: rgba(128, 128, 128, 0.151);
    color: white;
    scale: 1.1;
    text-decoration: none;
}

.UserLogin:active {
    scale: 0.96;
}

@media(max-width: 992px){
    .navbar .navlinks,
    .navbar .UserLogin{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    body{
        text-align: center;
    }
}

#maintxts{
    color: white;
    margin-top: 410px;
    margin-left: 20px;
}

.EXPLOREbtn{
    width: 250px;
    height: 40px;
    color: white;
    border-color: rgb(236, 150, 36);
    font-weight: 900;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-color: transparent
}

.EXPLOREbtn:hover{
    background-color: rgb(236, 150, 36);
    color: black;
    border-color: rgb(209, 209, 209);

}

.EXPLOREbtn a:hover{
    background-color: rgb(236, 150, 36);
    color: rgb(255, 255, 255);
    border-color: rgb(209, 209, 209);
    text-decoration: none;
    padding: 3px 10px;

}
